.cabal-sandbox/
cabal*
dist/
dist-newstyle/
result
.highscore*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
.DS_Store
.ghc.environment*
